// Global values
$color-table__bg--light-1: #e4e4de;
$color-table__border--dark: #000000;
$color-table__td__bg--light: #d3d3d3;
$color-table__td__bg--dark: #808080;

body {
    background-color: #b1b1b1;
}

.my {
    &-table {
        margin: auto;
        border-collapse: collapse;
        * {
            padding: 10px;            
        }
        thead {
            tr {
                background-color: $color-table__bg--light-1;
                text-align: center;
                border-bottom: 2px solid $color-table__border--dark;
            }
        }
        tbody {
            tr {
                text-align: left;
                background-color: $color-table__td__bg--light;
                border-bottom: 1px solid gray;
                &:hover {
                    background-color: $color-table__td__bg--dark;
                    color: white;
                }
            }
            td {                
                &:first-child {
                    border-right: 2px solid $color-table__border--dark;
                }
            }
        }
        tfoot {
            td {
                background-color: $color-table__bg--light-1;
                text-align: center;
                border-top: 2px solid $color-table__border--dark;
                font-style: italic;
            }
        }
    }
}

.text-style {
    &__tab-spacing {
        margin-left: 4ch;
    }
}